<main>
    <h1>Select/Start</h1>
    <div class="search">
        <form target="/getVideoGameData" class="video-game-search">
            <input name="search-query" class="search-input" type="text" placeholder="Search for Vidya">
            <input name="search-btn" class="search-button" type="submit" value="Go"">
        </form>
    </div>
</main>