<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Start-Select</title>
    <!-- Local styles -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>

  <body>
    <% include partials/navbar %>
    <%- body %>
    <% include partials/footer %>
  </body>

  <!-- jQuery lib -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js" charset="utf-8"></script>
  <!-- Cookies lib -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.1/js.cookie.min.js" charset="utf-8"></script>
  <script src="/lib/bootstrap.min.js" charset="utf-8"></script>
  <script src="/js/scripts.js" charset="utf-8"></script>
</html>
